:root {
  --background-transparent: transparent;
  --background-white: #ffffff;
  --background-blue-alpha: #217bf41a;
  --background-jaguar: #20202d;
  --background-dark-gray: #2b2b39;
  --background-light-blue: #d4e7fe;

  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-blue: #217bf4;
  --color-dark-blue: #0a093d;
  --color-red: #ff0000;
  --color-platinum: #e7e7e7;
  --color-gray:#656464;

  --border-blue: #217bf4;
}
