.about-us{
 padding:0 135px;
 background-color: #ffffff;
 .about-netbook{
    margin-top: 80px;
    .why-netbook{
        color: #217BF4
    }
    .join-netbook{
        margin-top: 0
    }
    .connect{
        margin-top: "36px"
    }
 }
 .netbook-asset{
border-radius: 10px
 }
 .netbook-about-us-image{
  
    margin: 30px;
    .about-image-banner{
        @extend .netbook-asset;
        width: 100%;
         height: 220px;
    }
 }
}