.about-us {
  background-color: var(--background-white);
  .about-netbook {
    .why-netbook {
      color: var(--color-blue);
    }
  }
  .netbook-asset {
    border-radius: 10px;
  }
  .netbook-about-us-image {
    .about-image-banner {
      @extend .netbook-asset;
      width: 100%;
      height: 220px;
    }
  }
}
