.achievement {
  background-color: var(--background-white);

  .achievement-icon {
    font-size: 20px;
  }
  .achievement-text {
    @extend .achievement-icon;
    color: var(--color-dark-blue);
  }
  .achievement-meta {
    height: "30px";
    .achievement-meta-text {
      color: var(--color-blue);
    }
    .achievement-meta-icon {
      font-size: 25px;
      color: var(--color-red);
    }
  }
  .about-achievement {
    color: var(--color-blue);
  }
  .about-achievement-heading {
    color: var(--color-dark-blue);
  }
}

.achievement-action-animate:hover {
  .animate-on-hover {
    animation: slideLeft 1s ease-in-out infinite;
  }
  @keyframes slideLeft {
    0%,
    100% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(15px, 0);
    }
  }
}
