.community-banner {
  padding: 0 135px;
  background-image: linear-gradient(
    to left,
    var(--background-light-blue),
    var(--background-white)
  );

  .description {
    .heading {
      color: var(--color-dark-blue);
    }
    .type {
      animation: blink 0.5s step-end infinite alternate;
      border-right: 3px solid;
      font-family: monospace;
      @keyframes blink {
        50% {
          border-color: var(--border-transparent);
        }
      }
    }
  }
  .community-button {
    color: var(--color-blue);
    background-color: var(--background-blue-alpha);
  }
  .community-invite {
    color: var(--color-blue);
    background-color: var(--background-transparent);
    border: 1px solid var(--border-blue);
  }
}
