.community-banner {
  padding: 0 135px;
  background-image: linear-gradient(to left, #d4e7fe, #ffffff);
  .description {
    padding-top: 64px;
    .heading {
      color: #0a093d;
    }
    .type {
      animation: blink 0.5s step-end infinite alternate;
      border-right: 3px solid;
      font-family: monospace;
      @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
    }
  }
  .community-actions {
    margin: 40px 0px;
  }
  .community-button {
    color: #217bf4;
    background-color: #217bf41a;
  }
  .community-invite {
    color: #217bf4;
    background-color: transparent;
    border: 1px solid #217bf4;
  }
  .socializing {
    object-fit: contain;
  }
}
