.sticky-header {
  * & :not(:last-child) {
    background-color: var(--background-transparent);
  }
  background-image: linear-gradient(
    to left,
    var(--background-light-blue),
    var(--background-white)
  );
  .header-nav {
    width: 40vh;
  }
}
