@import "./theme/color.scss";
@import "./theme/spacing.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

svg {
  display: flex;
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  color: #656464;
  border-bottom: none !important;
  transition: none !important;
}
